.popup__button-save {
  margin: 0;
  padding: 15px 0 15px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  cursor: pointer;
}

@media screen and (max-width: 440px) {
  .popup__button-save {
    font-size: 14px;
    line-height: 1.21;
  }
}
