.profile__button-edit {
  grid-area: button_edit;
  background: transparent;
  align-self: end;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 19px;
  margin-bottom: 8px;
}
