.popup__input {
  margin-top: 10px;
  margin-bottom: 7px;
  padding: 15px 0 8px;
  border: none;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
  outline-color: #6fb9fa;
}

.popup__input:first-of-type {
  margin-top: 0;
}
