.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 430px;
  display: block;
  padding: 34px 36px 37px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 440px) {
  .popup__content {
    padding: 25px 22px;
  }
}
