.popup__close {
  background: transparent;
  position: absolute;
  padding: 0;
  top: -40px;
  right: -42px;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.popup__close::before {
  position: absolute;
  content: "";
  height: 35px;
  border: 1px solid #fff;
  top: 0;
  transform: rotate(45deg);
}

.popup__close::after {
  position: absolute;
  content: "";
  height: 35px;
  border: 1px solid #fff;
  top: 0;
  transform: rotate(-45deg);
}

@media screen and (max-width: 539px) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
