.popup-img__close {
  background: transparent;
  position: absolute;
  padding: 0;
  top: -42px;
  right: -42px;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.popup-img__close::before {
  position: absolute;
  content: "";
  height: 35px;
  border: 2px solid #fff;
  top: 0;
  transform: rotate(45deg);
}

.popup-img__close::after {
  position: absolute;
  content: "";
  height: 35px;
  border: 2px solid #fff;
  top: 0;
  transform: rotate(-45deg);
}
