.card__image {
  width: 100%;
  height: 282px;
  display: block;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 977px) {
  .card__image {
    height: 382px;
  }
}

@media (min-width: 485px) and (max-width: 645px) {
  .card__image {
    height: 482px;
  }
}

@media (min-width: 385px) and (max-width: 484px) {
  .card__image {
    height: 382px;
  }
}
